/* body
{
    background-color: rgb(61, 60, 60);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.form
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.menu-title 
{
    display: flex;
    color: white;
    gap: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.menu-title .left-title
{
    display: flex;
    gap: 20px;
}
.menu-title .left-title img
{
    width: 30px;
    height: 30px;
    margin-top: 21px;
    margin-left: 10px;
    color: white;
}
.menu-title .right-title
{
    display: flex;
    gap: 30px;
}
.input-container 
{
    display: flex;
    gap: 50px;
    color: white;

}
.user-input
{
    width: 300px;
    height: 30px;
    border-radius:none ;
    background-color: rgb(61, 60, 60);

}
.add
{
    height: 30px;
    width: 50px;
    border-radius: 10px;
}
 */*{
  padding: 0;
  margin: 0;
}

/* #5b7065, black */
body {
  background: rgb(193, 246, 246); 
 font-family: 'Shadows Into Light', cursive;
  color: #0065a0;
  min-height: 100vh;
}

button {
  height: fit-content;
  cursor: pointer;
  color: #04202c;
  background-color: rgb(88, 184, 247);
}

.app {
  width: 600px;
  margin: auto;
  padding-top: 50px;
  color: white;
}
.app h1{
  display: flex;
  justify-content: center;
  color: #0065a0;
}
.divide-header
{
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
  color: #066477;
}
.divide-container
{
  background-color: #80bbf3;
  border: 2px solid #0065a0;
  width: 60px;
  height: 30px;
  text-align: center;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;;
}
.divide-container:hover
{
  background-color: #6be0f0;
}
 h2:hover{
 
  color: #000000;
}
.input-header {
  
  display: flex;
  align-items: center;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px 0px 10px 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.to-do-input input {
  width: 450px;
  color: #0065a0;
  font-size:  20px;
  height: 40px;
  font-family: inherit;
  border: none;
  border-bottom: 2px solid #40a0d7;
  padding: 10px;
  /* outline: none; */
  background-color:  rgb(193, 246, 246); 
}
.to-do-input input:focus
{
  outline: none;
  border-color: #024d93;
}

.to-do-input button {
  border-radius: 10px;
  width: 70px;
  color: #024d93;
  font-family: inherit;
  height: 60px;
  border: none;
  padding: 10px;
  /* border-top-right-radius: 10px; */
  /* border-bottom-right-radius: 10px; */
  margin-left: 45px;
  margin-top: -2px;

}

.to-do-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.to-do-list i {
  color: #000000;
  cursor: pointer;
}

.to-do-list .fa-pen-to-square {
  color: #5b7065;
}

.to-do-list button {
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  
  border: none;
}
 #tasks p 
{
  font-size: 20px;
  color: #055a99;
  margin-bottom: 20px;
}
#error {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  background-color: #4da5fc;
  color: red;
  padding: 1em;
  border-radius: 0.8em;
  font-size: 20px;
  display: none;
  animation: slide-in 1s ease-in-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    color: red;
  }
  to {
    transform: translateX(0);
    color: red;
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.input-controller {
  display: flex;
  gap: 10px;
  
}

.input-controller textarea {
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  line-height: 1.1;
  border-radius: 10px;
  background-color: transparent;
  font-size: 1.2rem;
  font-family: inherit;
  transition: all 0.30s ease-in-out;
  margin-top: 10px;
}

textarea:focus {
  box-shadow: 0 0 5px white;
}

.checkbox
{
  width: 20px;
  margin-bottom: 10px
}
.edit-controller {
  display: flex;
  gap: 8px;
  margin-top:17px;
}

.update-controller {
  display: none;
}

@media(max-width: 768px) {
  .app {
    width: 95%;
    text-align: center;
  }

  .input-header {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .to-do-input {
    display: flex;
  }

  .to-do-input input {
    width: 300px;
  }
}
.completed {
  text-decoration: line-through;
}